.widget
    border: 1px solid black
    display: inline-block

.card
    height: 250px
    
    p
        font-size: 2.5rem
        font-weight: bold
        font-family: Georgia, 'Times New Roman', Times, serif

.weather__temp
    padding-top: 15%
        
