.widget
    border: 1px solid black
    display: inline-block

.card
    height: 280px
    background: #393B3F
    /*margin: 5px*/
    box-sizing: border-box
    border: 4px solid #1F1E20 
    .card__title
        color: deepskyblue !important
        padding-right: 10px

    p
        font-size: 2.5rem
        font-weight: bold
        font-family: Georgia, 'Times New Roman', Times, serif

.temp
    padding-left: 25%   
